<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SfdcIdUpConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SfdcUid" value="robertgelb@iheartmedia.com"/>
    <add key="SfdcPwd" value="Robdogg2"/>
    <add key="IsSandbox" value="false"/>  <!-- if true, connect to sandbox.  If false, connect to prod -->
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SfdcIdUpConverter.Properties.Settings>
      <setting name="SfdcIdUpConverter_ApexSvcSoap_ApexService" serializeAs="String">
        <value>https://ihm.my.salesforce.com/services/Soap/s/34.0</value>
      </setting>
      <setting name="SfdcIdUpConverter_PartnerSoap_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/u/34.0</value>
      </setting>
    </SfdcIdUpConverter.Properties.Settings>
  </applicationSettings>
</configuration>